.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  position: relative;
  display:inline-block;
  padding:10px;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  width: 0;
  transition: width 0.5s ease;
}

.progress-bar:hover .progress {
  width: 100%;
}

.progress-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.progress-bar:hover::after {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.1);
}
